<!DOCTYPE html>
<html lang="en">
<body>
    <header>
        <h1>Welcome to My Django Project</h1>
    </header>
    <hr>
    <br>
    <br>
    <nav>
        <ul>
            <li><a href="book/list/">View Books</a></li>
            <li><a href="mobile/list/">View Mobiles</a></li>
            <li><a href="cart/">View Cart</a></li>
            <li><a href="search/">Search product</a></li>
            
        </ul>
    </nav>
    <br>
    <br>
    <hr>
    <section>
        <h2>Featured Products</h2>
    </section>

    <footer>
        <p>&copy; 2024 Your Django Project. All rights reserved.</p>
    </footer>
</body>
</html>
